<div class="container">

  <div class="row">
    <div class="col-md-10"></div>
    <div class="col col-md-2">
      <button class="btn btn-primary pull-right" (click)="createAuthorForm()">Add Authors</button>
    </div>
  </div>

  <div class="row">

    <h2>All Authors</h2>
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Username</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let author of authors">
        <td>{{author.id}}</td>
        <td>{{author.firstName}} {{author.lastName}}</td>
        <td>{{author.username}}</td>
        <!--        <td>-->
        <!--          <span *ngFor="let category for author.categories">-->
        <!--            <span>{{category.name}}</span>-->
        <!--          </span>-->
        <!--        </td>-->
        <td>
          <button class="btn btn-primary mr-3" (click)="editAuthor(author)">Edit</button>
          <button class="btn btn-danger" (click)="deleteAuthor(author)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <!--start edit form-->
  <div *ngIf="editingAuthor">
    <div class="col mb-5">
      <h3>Edit Tag</h3>
    </div>
    <form class="form-horizontal" (submit)="submitAuthorEdit(authorToEdit)">
      <div class="form-group row">
        <label class="control-label col-sm-2">Id:</label>
        <div class="col-sm-10">
          <input readonly type="email" class="form-control" value="{{authorToEdit.id}}">
        </div>
      </div>

      <div class="form-group row">
        <label class="control-label col-sm-2">Firstname:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="firstName" [(ngModel)]="authorToEdit.firstName">
        </div>
      </div>

      <div class="form-group row">
        <label class="control-label col-sm-2">LastName:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="lastName" [(ngModel)]="authorToEdit.lastName">
        </div>
      </div>

      <div class="form-group row">
        <label class="control-label col-sm-2">Username:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="username" [(ngModel)]="authorToEdit.username">
        </div>
      </div>

      <div class="form-group row">
        <label class="control-label col-sm-2">Categories:</label>
        <div class="col-sm-10">
          <div *ngFor="let category of authorToEdit.categories">
            <input type="checkbox" class="form-control" name="category" [(ngModel)]="category.name"/> {{category.name}}
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary float-right">Submit</button>
        </div>
        <div class="col-sm-6">
          <button class="btn btn-danger" (click)="cancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
  <!--end of edit form-->

  <div *ngIf="creatingAuthor">
    <div class="col mb-5">
      <h3>Add Tag</h3>
    </div>

    <form class="form-horizontal" (submit)="createAuthor(authorToCreate)">
      <!--      <div class="form-group row">
              <label class="control-label col-sm-2">Id:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="tagToCreate.id">
              </div>
            </div>-->
      <div class="form-group row">
        <label class="control-label col-sm-2">FirstName:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="firstName" [(ngModel)]="authorToCreate.firstName">
        </div>
      </div>

      <div class="form-group row">
        <label class="control-label col-sm-2">LastName:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="lastName" [(ngModel)]="authorToCreate.lastName">
        </div>
      </div>

      <div class="form-group row">
        <label class="control-label col-sm-2">Username:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="username" [(ngModel)]="authorToCreate.username">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary float-right">Submit</button>
        </div>
        <div class="col-sm-6">
          <button class="btn btn-danger" (click)="cancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
